@font-face {
  font-family: "Norse Bold";
  src: url(/fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow: hidden;
  background-color: #e5e7eb;
}

.main-container {
  display: flex;
}

.left-container {
  position: relative;
}

/* Get rid of bottom margin */
/* Add squish effect to image when compressed */
.fern-background {
  height: 100vh;
}

.dark-box {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.odin-img {
  width: 125px;
  padding: 20px 0;
}

.odin-text {
  font-family: "Norse Bold";
  color: white;
  font-size: 125px;
  padding-top: 45px;
}

.right-container {
  height: 100vh;
  /* padding-left: 50px; */
  /* margin-left: 50px; */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

.top-right-container {
  padding-left: 50px;
  margin-bottom: 80px;
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
}

.header-text-top {
  margin-top: 150px;
}

.header-text-bottom {
  margin-top: 2rem;
}

.italic {
  font-style: italic;
}

.form-container {
  padding: 20px 50px;
  background-color: white;
}

.form-row {
  display: flex;
  margin: 10px 0;
}

.form-align {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.bottom-right-container {
  margin-top: 30px;
  padding-left: 50px;
}

.account-btn {
  padding: 10px 40px;
  border-radius: 8px;
  font-weight: bold;
  background-color: #596d48;
  color: white;
}

.log-in {
  margin-top: 30px;
}

.log-in-btn {
  color: #596d48;
}
