@font-face {
  font-family: "Norse Bold";
  src: url(/fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.main-container {
  display: flex;
}

.left-container {
  position: relative;
}

/* Get rid of bottom margin */
.fern-background {
  height: 100vh;
}

/* Make dark box width equal to fern background */
.dark-box {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 20%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.odin-img {
  width: 125px;
  padding: 20px 0;
}

.odin-text {
  font-family: "Norse Bold";
  color: white;
  font-size: 125px;
  padding-top: 45px;
}

.header-text {
  font-size: 1rem;
  font-weight: bold;
}
